<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a href="#">Welcome, {{login_id}}</a></li>

            </ul>
            <ul class="nav pull-right">
                <li><a href="#"><i class="icon-user"></i> Preference</a></li>
                <li><a href="#" onclick="signOff()"><i class="icon-off"></i> Sign Off</a></li>
            </ul>
        </div>
    </div>
</div>