body {
    padding-top: 10px;
}

.x-small-font {
    font-size: 0.8em;
}

.light-red {
    color: #C62626;
}

.numeric-input {
    text-align: right;
}

.span1-5 {
    width: 100px;
}

.span2-5 {
    width: 180px;
}

.span9-5 {
    width: 740px;
}

.offset0-25 {
    margin-left: 25px;
}

.offset5-5 {
    margin-left: 460px;
}

.input-tiny {
    width: 40px;
}

.hero-unit-small {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #eeeeee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}

.hero-unit-small h1 {
    margin-bottom: 0;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1px;
    color: inherit;
}

.hero-unit-small p {
    font-size: 16px;
    font-weight: 200;
    line-height: 22px;
    color: inherit;
}

.affset12 {
    margin-right: 980px;
}

.affset11 {
    margin-right: 900px;
}

.affset10 {
    margin-right: 820px;
}

.affset9 {
    margin-right: 740px;
}

.affset8 {
    margin-right: 660px;
}

.affset7 {
    margin-right: 580px;
}

.affset6 {
    margin-right: 500px;
}

.affset5 {
    margin-right: 420px;
}

.affset4 {
    margin-right: 340px;
}

.affset3 {
    margin-right: 260px;
}

.affset2 {
    margin-right: 180px;
}

.affset1 {
    margin-right: 100px;
}

.affset0-25 {
    margin-right: 25px;
}

table.table > thead > tr > td {
    /*text-align: center;*/
    font-weight: 500;
    font-size: 105%;
    color: #333333;
    background-color: #89B9C7;
}

/* overwrited */
.navbar-inner {
    background-color: #1787b7;
    background-image: -moz-linear-gradient(top, #1787b7, #0F5C7A);
    background-image: -ms-linear-gradient(top, #1787b7, #0F5C7A);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1787b7), to(#0F5C7A));
    background-image: -webkit-linear-gradient(top, #1787b7, #0F5C7A);
    background-image: -o-linear-gradient(top, #1787b7, #0F5C7A);
    background-image: linear-gradient(top, #1787b7, #0F5C7A);
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}

.navbar .nav > li > a {
    float: none;
    padding: 9px 10px 11px;
    line-height: 19px;
    color: #dadada;
    text-decoration: none;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.navbar .nav > li > a > i {
    margin-top: 3px;
    margin-left: 3px;
}

.modal {
    width: 780px;
    left: 42.3%;
}